.more {
    position: relative;
}

.more img {
    cursor: pointer;
}

.more-options {
    position: absolute;
    box-shadow: 0px 4px 10px 0px #00000040;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    top: calc(100% + 10px);
    right: 0;
}

.more-options > div {
    cursor: pointer;
}

.more-options > div:hover {
    color: var(--secondary)
}

.more {
    display: flex;
    justify-content: flex-end;
}

.more img {
    margin-bottom: -15px;
}
