.main .section .heading .heading-title {
    font-size: 30px;
    font-weight: 600;
}

.modal .heading .heading-title {
    font-size: 20px;
    font-weight: 600;
}

.main .section .heading,
.modal .heading {
    margin-bottom: 1em;
}

.main .section .heading .heading-tooltip,
.modal .heading .heading-tooltip {
    display: flex;
    gap: .25em;
    align-items: center;
    margin-top: .5em;
}