.project-card-top {
    display: flex;
    gap: .5em;
}

.project-card-image {
    border-radius: 100px;
    max-width: 60px;
}

.project-card-name {
    font-size: 20px;
}

.project-card-description {
    margin: .75em 0;
}

.more {
    display: flex;
    justify-content: flex-end;
}

.more img {
    margin-bottom: -15px;
}