.header .profile {
    display: flex;
    gap: .5em;
    align-items: center;
}

.header .profile .profile-image {
    padding: .35em;
    border: 1px solid var(--grey);
    border-radius: 100px;
}

.header .profile img {
    display: block;
    width: 25px;
}