.header .profile {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .25em;
    transition: .5s ease;
}

.header .profile:hover {
    border-radius: 10px;
    background-color: var(--light-grey);
}

.header .profile .profile-image {
    padding: .35em;
    border: 1px solid var(--grey);
    border-radius: 100px;
}

.header .profile img {
    display: block;
    width: 25px;
}